json/SMS App - n8n.json
{
  "name": "SMS App",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-message",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f8bf6032-b0c6-43a5-9b67-f20222658fb9",
      "name": "Webhook: Send Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        352
      ],
      "webhookId": "635acba4-3e97-45fe-bc52-979c17325039",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "7c14609e-e2f0-4cb1-abb9-2612157f19fd",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        544,
        352
      ]
    },
    {
      "parameters": {
        "path": "get-history",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ba808e5-c029-47fe-b093-0ea776c1faff",
      "name": "Webhook: GET History",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        544
      ],
      "webhookId": "8d3bd5e6-cd12-40b6-9e81-16a31d2ae71e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* FORCE ARRAY WRAPPING */\nconst results = $input.all().map(item => {\n  let messages = [];\n  try {\n    messages = typeof item.json.messages === 'string' ? JSON.parse(item.json.messages) : (item.json.messages || []);\n  } catch (e) { messages = []; }\n  return {\n    ...item.json,\n    last_message_at: item.json.last_message_at ? new Date(item.json.last_message_at).toISOString() : new Date().toISOString(),\n    messages: messages.map(m => ({ \n      ...m, \n      created_at: m.created_at ? new Date(m.created_at).toISOString() : new Date().toISOString() \n    }))\n  };\n});\nreturn results;"
      },
      "id": "9e4e4955-baf9-408b-bb9d-0e294a734b20",
      "name": "Format: Force Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -176,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().length ? JSON.stringify($input.all().map(i => i.json)) : '[]' }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "6922918d-74e5-485d-96d8-b1e84532832b",
      "name": "Respond: Inbox Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -16,
        544
      ]
    },
    {
      "parameters": {
        "path": "get-new-messages",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21ac88a7-527c-4a8b-a794-65cef3f2dc63",
      "name": "Webhook: GET New",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        752
      ],
      "webhookId": "79fd5962-569e-410b-901d-d00f7b7c6336",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "d7225c69-0e45-4ca8-849f-00c436a68676",
      "name": "Respond: New Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -16,
        752
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-contact",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c35541f9-f431-4c5a-b515-d0eb398cdf67",
      "name": "Webhook: Add Contact",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        944
      ],
      "webhookId": "6a7a9d4e-a32f-4c57-9b23-586ac8d8380e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "f5a131dd-e8d7-4eb0-af33-84e812a622d4",
      "name": "Respond: Contact Added",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -176,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "0fc13f91-dcd0-4fe2-a7d7-32f43be63e08",
      "name": "Respond: Mark Read",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -176,
        1152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        16
      ],
      "id": "ddb2093f-c730-47c6-a22e-72e8a32b8d29",
      "name": "Webhook",
      "webhookId": "00fe26fe-6728-4064-8dab-e125f52dc760"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        16
      ],
      "id": "92ebed47-8cfc-425c-b81c-ac9e318da196",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nif (!authToken) throw new Error('TWILIO_AUTH_TOKEN env var not set');\nconst headers = $input.first().json.headers;\nconst body = $input.first().json.body;\nconst webhookUrl = $input.first().json.webhookUrl;\n\nconst twilioSignature = headers['x-twilio-signature'];\n\nif (!twilioSignature) {\n  return [{ json: { \n    valid: false, \n    reason: 'No X-Twilio-Signature header present - possible direct probe', \n    from: body.From ?? 'unknown',\n    ip: headers['cf-connecting-ip'] ?? 'unknown',\n    userAgent: headers['user-agent'] ?? 'unknown',\n    receivedSignature: 'none',\n    expectedSignature: 'n/a',\n    bodyPreview: Object.entries(body).map(([k,v]) => `${k}: ${v}`).join('\\n'),\n    allHeaders: Object.entries(headers).map(([k,v]) => `${k}: ${v}`).join('\\n')\n  }}];\n}\n\nconst sortedKeys = Object.keys(body).sort();\nlet validationString = webhookUrl;\nfor (const key of sortedKeys) {\n  validationString += key + (body[key] ?? '');\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha1', authToken)\n  .update(validationString, 'utf8')\n  .digest('base64');\n\nif (expectedSignature !== twilioSignature) {\n  return [{ json: { \n    valid: false, \n    reason: 'Signature mismatch - possible spoofed request', \n    from: body.From ?? 'unknown',\n    ip: headers['cf-connecting-ip'] ?? 'unknown',\n    userAgent: headers['user-agent'] ?? 'unknown',\n    receivedSignature: twilioSignature,\n    expectedSignature: expectedSignature,\n    bodyPreview: Object.entries(body).map(([k,v]) => `${k}: ${v}`).join('\\n'),\n    allHeaders: Object.entries(headers).map(([k,v]) => `${k}: ${v}`).join('\\n')\n  }}];\n}\n\nreturn [{ json: { valid: true, ...body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        16
      ],
      "id": "d635c330-08fc-4967-91c1-08e5836e1040",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "stephen@safeaitechnology.com",
        "subject": "SMS in from Twilio error",
        "emailType": "text",
        "message": "=we just got a SMS submission that failed the signature check:\n\nReason:     {{ $json.reason }}\nFrom:       {{ $json.from }}\nIP Address: {{ $json.ip }}\nUser Agent: {{ $json.userAgent }}\n\nReceived Signature: {{ $json.receivedSignature }}\nExpected Signature: {{ $json.expectedSignature }}\n\nBody preview:\n{{ $json.bodyPreview }}\n\nHeaders:\n{{ $json.allHeaders }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        192
      ],
      "id": "114420c4-076c-4520-85c8-b0144de61ba9",
      "name": "Send a message",
      "webhookId": "cbe30cc7-1c2d-4187-b58c-a8e09bb6e981",
      "credentials": {
        "gmailOAuth2": {
          "id": "N9Ng9kePgde5k6FZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "008ef32b-c69e-4701-9df6-371e1790bc52",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        16
      ],
      "id": "d13541d8-791d-4aac-846d-d7f21190819b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && i.json.direction);\nreturn [{ json: { result: JSON.stringify(items.map(i => i.json)) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        752
      ],
      "id": "18b8851c-3e17-4d96-8cdc-38b846195a06",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && i.json.direction);\nreturn [{ json: { result: JSON.stringify(items.map(i => i.json)) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1344
      ],
      "id": "6c7790dd-259f-4aa0-ab4e-d0b532bfc758",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16,
        1344
      ],
      "id": "997e7c35-71f8-41cb-9105-99cfc384a123",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    safeMessage: $('Webhook: Send Message').first().json.body.message.replace(/'/g, \"''\"),\n    phone: $('Webhook: Send Message').first().json.body.phone\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        352
      ],
      "id": "6eb3b71a-ee3b-4dba-a94b-b09480df03ea",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (phone, first_name, last_name)\nVALUES ('{{ $json.From }}', '{{ $json.From }}', '')\nON CONFLICT (phone) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        -144
      ],
      "id": "2b4ba966-173a-40ae-84d6-e10e35d9e8f8",
      "name": "Execute a SQL query1a",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (phone, first_name, last_name)\nVALUES ('{{$json.body.phone}}', 'New', 'Lead')\nON CONFLICT (phone) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        352
      ],
      "id": "28bb6d33-beda-4f25-a260-62e00b0c6a21",
      "name": "Execute a SQL query ",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_id, direction, source, body)\nSELECT id, 'outbound', 'human', '{{$json.safeMessage}}'\nFROM contacts WHERE phone = '{{$json.phone}}'\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        352
      ],
      "id": "13010b20-6348-4a69-b6b0-4cf796b9a90c",
      "name": "Execute a SQL query 3",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.phone, \n    c.first_name, \n    c.last_name, \n    COALESCE(m_last.body, 'No messages') as last_message, \n    COALESCE(m_last.created_at, c.created_at) as last_message_at,\n    (SELECT COUNT(*) FROM messages WHERE contact_id = c.id AND read_at IS NULL AND direction = 'inbound') as unread_count\nFROM contacts c\nLEFT JOIN messages m_last ON m_last.id = (SELECT id FROM messages WHERE contact_id = c.id ORDER BY created_at DESC LIMIT 1)\nORDER BY last_message_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        544
      ],
      "id": "3457e9fb-b741-4bc4-9912-cc8a4f6bacf3",
      "name": "Execute a SQL query 4",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.direction, m.source, m.body, m.created_at\nFROM messages m\nJOIN contacts c ON m.contact_id = c.id\nWHERE c.phone = '{{$json.query.phone}}'\nAND m.created_at > '{{$json.query.since}}'::timestamptz + interval '1 millisecond'\nAND m.direction = 'inbound'\nORDER BY m.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        752
      ],
      "id": "84249817-110e-4dfc-8610-e4bc5661e6d1",
      "name": "Execute a SQL query 5",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (phone, first_name, last_name)\nVALUES (\n  '{{$json.body.phone}}',\n  '{{$json.body.first_name.replace(/'/g, \"''\")}}',\n  '{{$json.body.last_name.replace(/'/g, \"''\")}}'\n)\nON CONFLICT (phone) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        944
      ],
      "id": "80919856-6557-4513-b7e2-0b1d3e1a1d05",
      "name": "Execute a SQL query 6",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE messages SET read_at = NOW()\nWHERE contact_id = (SELECT id FROM contacts WHERE phone = '{{$json.body.phone}}')\nAND read_at IS NULL\nAND direction = 'inbound';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        1152
      ],
      "id": "1eb754b1-1161-4dff-bb3a-3d1c7f125027",
      "name": "Execute a SQL query 7",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.direction, m.source, m.body, m.created_at\nFROM messages m\nJOIN contacts c ON m.contact_id = c.id\nWHERE c.phone = '{{$json.query.phone}}'\nORDER BY m.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        1344
      ],
      "id": "e9198ee4-adc4-4168-b186-39285295773c",
      "name": "Execute a SQL query 8",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "get-messages",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        1344
      ],
      "id": "f4d039d9-c6bb-45e6-ae31-20538d778f6d",
      "name": "Get numbers complete message history",
      "webhookId": "aba60ac5-0a36-45c8-8ba3-24d2cdb6f393",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mark-read",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c10c590-48d8-4c24-907a-3c90ac8d5dc4",
      "name": "Webhook: Mark message as Read",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -624,
        1152
      ],
      "webhookId": "e53e9181-9e32-4dc5-9b38-dbde04683e14",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sja6MkcthbRDqjWx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "from": "+61 468 062 270",
        "to": "+61447544217",
        "message": "={{ $json.Body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        -336
      ],
      "id": "df60e0b0-bb32-4909-934c-c9682b356442",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "WtGURuxImjKkLapa",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM messages WHERE twilio_sid = 'SMtestinvalidsig';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        560
      ],
      "id": "a4913c40-bb3a-4d94-a22c-7b708daeaaff",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE messages\n   SET twilio_sid            = '{{ $json.sid }}',\n       message_type          = 'manual',\n       sent_at               = NOW(),\n       messaging_service_sid = '{{ $json.messaging_service_sid }}',\n       twilio_status         = '{{ $json.status }}'\n WHERE id = {{ $('Execute a SQL query 3').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        352
      ],
      "id": "991b2ec4-f8dc-4f9c-8714-072c8fb9942c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "MessagingServiceSid",
              "value": "={{ $env.TWILIO_MESSAGING_SERVICE_SID }}"
            },
            {
              "name": "To",
              "value": "={{ $('Webhook: Send Message').item.json.body.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $('Webhook: Send Message').item.json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        352
      ],
      "id": "528c7fc4-450e-40d6-9154-9d4942e210e4",
      "name": "HTTP Request",
      "credentials": {
        "twilioApi": {
          "id": "WtGURuxImjKkLapa",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 AS already_seen\n   FROM messages\n   WHERE twilio_sid = '{{ $(\"Webhook\").item.json.body.MessageSid }}'\n   LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        0
      ],
      "id": "7b9ac1c6-9d58-4d27-ba09-399a3afc3380",
      "name": "Idempotency Check",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   INSERT INTO messages (contact_id, direction, source, body, twilio_sid, twilio_message_sid, message_type)\n   SELECT id, 'inbound', 'sms',\n     '{{ $(\"Webhook\").item.json.body.Body.replace(/'/g, \"''\") }}',\n     '{{ $(\"Webhook\").item.json.body.MessageSid }}',\n     '{{ $(\"Webhook\").item.json.body.MessageSid }}',\n     'manual'\n   FROM contacts WHERE phone = '{{ $(\"Webhook\").item.json.body.From }}'\n   ON CONFLICT (twilio_sid) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -144
      ],
      "id": "efb5b86b-cccb-4d76-8686-fe3d24fbffa0",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a09c979-e6da-4d9f-87cf-881223d46d8e",
              "leftValue": "={{ $json.already_seen }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        0
      ],
      "id": "ce4afbcf-114a-4864-a322-200ce94f72f0",
      "name": "New message?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts\n   SET last_inbound_at = NOW()\n   WHERE phone = '{{ $(\"Webhook\").item.json.body.From }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        -144
      ],
      "id": "87eccc1b-2a27-4084-9c9c-ece7116aa9f2",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "4o96fpu71TrveDIa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        192
      ],
      "id": "274ffea6-e357-4acb-9a29-d98126ee4d2a",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Send Message": {
      "main": [
        [
          {
            "node": "Execute a SQL query ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: GET History": {
      "main": [
        [
          {
            "node": "Execute a SQL query 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Force Array": {
      "main": [
        [
          {
            "node": "Respond: Inbox Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: GET New": {
      "main": [
        [
          {
            "node": "Execute a SQL query 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Add Contact": {
      "main": [
        [
          {
            "node": "Execute a SQL query 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond: New Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Execute a SQL query 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1a": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query ": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 4": {
      "main": [
        [
          {
            "node": "Format: Force Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 5": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 6": {
      "main": [
        [
          {
            "node": "Respond: Contact Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 7": {
      "main": [
        [
          {
            "node": "Respond: Mark Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query 8": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get numbers complete message history": {
      "main": [
        [
          {
            "node": "Execute a SQL query 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Mark message as Read": {
      "main": [
        [
          {
            "node": "Execute a SQL query 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message1": {
      "main": [
        []
      ]
    },
    "Respond: Success": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "New message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New message?": {
      "main": [
        [
          {
            "node": "Execute a SQL query1a",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b1c1dfad-c92f-4f4d-b7e7-5e2b92af4da3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "656660fc756ca0933c4047d0fdbbd07ae4c6f52ed9333658293f31e84176f85c"
  },
  "id": "uCeU0eQfe7PyRjVu",
  "tags": []
}